/*BUTTON*/

.pushable {
background: #6e006e;
border: none;
border-radius: 12px;
padding: 0;
cursor: pointer;
}
.pushable a {
text-decoration: none;
}
.front {
display: flex;
padding: 12px 60px;
border-radius: 12px;
font-size: 17.5px;
font-family: 'Minecraftia';
background: magenta;
color: black;
transform: translateY(-4px);
}
.pushable:active .front {
transform: translateY(-2px);
}
.pushable:focus:not(:focus-visible) {
outline: none;
}
.front {
transition: transform 600ms;
cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover .front {
transform: translateY(-6px);
transition: transform 250ms;
cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
transform: translateY(-2px);
transition: transform 34ms;
}

/*LOADER*/

.loader {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
transition: opacity 1s, visibility 0.9s;
}

.loader-hidden {
opacity: 0;
visibility: hidden;
}

.loader::after {
content: "";
width: 75px;
height: 75px;
border: 5px solid black;
border-top-color: magenta;
border-radius: 50%;
animation: loading 0.75s ease infinite;
}

@keyframes loading {
from{
transform: rotate(0turn);
}
to{
transform: rotate(1turn);
}
}