/* GLOBAL */

body {
    margin: 0;
    background-color: black;
}

#NAV {
    background: transparent;
    font-family: 'Minecraft';
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 0 6px var(--primary-color);
}

#NDIV {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#LOGO {
    width: 75px;
    margin: 10px;
    transition: transform 600ms;
    border-radius: 80px;
    box-shadow: 0 0 3px var(--primary-color);
    border: 1px solid var(--primary-color);
}

#LOGO:hover {
    transform: scale(1.1);
    transition: transform 250ms;
    box-shadow: 0 0 6px var(--primary-color);
}

#LOGO:active {
    transform: scale(1);
    transition: transform 34ms;
}

#LINK {
    list-style: none;
    display: inline-block;
}

ul a {
    font-size: 18px;
    margin-right: 20px;
    padding: 14px 16px;
    border: 1px solid var(--primary-color);
    transition: 0.3s;
    box-shadow: 0 0 3px var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 7.5px;
}

ul a:hover {
    background: var(--primary-color);
    transition: 0.3s;
    color: black;
    box-shadow: 0 0 6px var(--primary-color);
}

h1 {
    color: var(--primary-color);
    font-family: 'Minecraft';
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 100px;
    text-shadow: 0 0 3px var(--primary-color);
    text-decoration: none;
}

.CONTEXT {
    position: absolute;
    text-align: center;
    background: black;
    border: 1px solid var(--primary-color);
    list-style: none;
    box-shadow: 0 0 3px var(--primary-color);
    text-decoration: none;
    border-radius: 10px;
}

.CONTEXT ol {
    padding: 0px;
    margin: 0px;
    width: 150px;
    list-style: none;
}

.CONTEXT ol li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.CONTEXT ol li:hover {
    background: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.CONTEXT ol a {
    text-decoration: none;
    font-family: 'Minecraft';
    transition: 0.3s;
}

#ROUND1 {
    border-radius: 10px 10px 0 0;
}

#ROUND2 {
    border-radius: 0 0 10px 10px;
}

#BIOPIC {
    width: 200px;
    border-radius: 250px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 6px var(--primary-color);
}

#BIOTEXT {
    font-size: 18px;
    color: var(--primary-color);
    font-family: 'Minecraftia';
    text-align: center;
    width: 55%;
}

#DESC {
    font-size: 18px;
    color: var(--primary-color);
    font-family: 'Minecraftia';
    text-align: center;
    width: 55%;
}

#SEARCH input {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
    height: 30px;
    width: 50%;
    background-color: black;
    border-radius: 15px;
    font-family: 'Minecraftia';
    text-align: center;
    color: var(--primary-color);
}

::placeholder {
    color: var(--primary-color);
}

.RESULTS {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.RESULTS li {
    display: inline-block;
    margin: 10px;
}

.RESULTS a {
    text-decoration: none;
    display: block;
    font-family: 'Minecraftia';
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
    padding: 7.5px;
    border-radius: 7.5px;
}

#VIDIMG {
    width: 200px;
    border-radius: 7.5px;
}

/*LOADER*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity 1s, visibility 0.9s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 5px solid black;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}